<nav class="navbar navbar-fixed-top" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">Peoplr</a>
	    </div>

	    <div class="navbar-footer navbar-right">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	            <span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand pull-right" href="/about">about</a></li>
			<a class="navbar-brand pull-right" href="/spread">spread a word</a></li>
	    </div>
</nav>

<div class="home-page">
	<div class="welcome-tab">        
		<div class="container">
    		<h1>Searching for people made easy</h1>
    		<p1>search engine explicitly developped for finding people</p1>
    	</div>
	</div>

	<div class="search-tab">
    	<div class="form-inline">
				<%= form_tag("/search", :method => 'get', :enforce_utf8 => false, :class => "navbar-search form-search-welcome") do %>
				<%= text_field_tag(:q, params[:q], :class => "form-control search-query") %>
				<%= submit_tag("Search", :name => nil, :class => "btn btn-default btn-search") %>
			<% end %>
		</div>
	</div>
</div>