$curious-blue	: #3D8EB9;
$white			: #FFFFFF;

.tab-bar {
	background-color: $curious-blue;
	height: 60px;
	position: relative;
	.peoplr-icon {
		padding-top: 4px;
		left: 2.5%;
		img {
			position: absolute;
			padding-top: 2px;
			left: 14%;
			width: 12em;
		}
	}
	.search-bar {
		padding-top: 11px;
		font-family: "Arial";
	}
}


.icon--ei-user {
  fill: $white;
}