// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .starter-template {
    top: 10000%;
    left: 15%;
    right: 15%;
    text-align: center;
    position: absolute;
}