$white			: #ffffff;
$mehmeh			: #6a6c6f;
$curious-blue	: #3D8EB9;

.search-content {
	font-family: "Arial";
	.search-item {
		position: relative;
		width: 100%;
		height: 290px;
		.item-image {
			position: absolute;
			display: inline-block;
		}
		.item-description {
			width: 60%;
			left: 200px;
			color: $mehmeh;
			position: absolute;
			display: inline-block;
			line-height: 1;
			.item-footer {
				.item-desc {
					position: relative;
					height: 50px;
					span {
						position: absolute;
						top: 40%;
					}
				}
			}
		}
	}
}


.gallery-content {
	
	position: relative;
	.slick-carousel {
		
		height: 246px;
		img {
			max-width: auto;
			max-height: 228px;
			margin: 4px;
		}
	}
}

.panel {
	background-color: $white;
}

.icon--ei-eye {
	fill: $mehmeh;
}

.icon--ei-calendar {
	fill: $mehmeh;	
}

.icon--ei-location {
	fill: $mehmeh;	
}

.slick-prev {
	margin-left: 40px;
}

.slick-next {
	margin-right: 40px;
}

small {
	color: $mehmeh;
	font-family: "Arial";
	text-align: right;
}
